<nav class="bg-gray-800 text-white h-full">
  <div class="py-4 px-6">
    <h1 class="text-2xl font-semibold">NgRx Demo</h1>
  </div>
  <ul class="py-2 px-6 space-y-2">
    <li>
      <a [routerLink]="AppRoutes.Dashboard" class="block hover:text-gray-300">
        Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="AppRoutes.Users" class="block hover:text-gray-300">
        Users
      </a>
    </li>
    <li>
      <a [routerLink]="AppRoutes.Workflow" class="block hover:text-gray-300">
        Workflow
      </a>
    </li>
  </ul>
</nav>
